

.productChange {
    width: 100%;

    .select{
        min-height: 100px;
        margin-top: 20px;

        .loader{
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
        }
    }
    .input{
        margin-top: 20px;
    }
}


@media (max-width: 800px) {
   
    .productChange {

        .select{
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 450px) {
   
    .productChange {
        .select{
            margin-bottom: 60px;
        }
    }
}