.auth{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
    max-width: 90%;

    .title {
        font-size: 2.4rem;
        word-spacing: 3px;
        letter-spacing: 1px;
        line-height: 2.8rem;
        text-align: center;
        margin: 12px 0;
    }

    .buttonWrapper{
        display: flex;
        justify-content: center;
    }

    .change{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 4px;
        a{
            color: var(--link-blue);
            font-weight: 500;
            transition: color .15s ease-in-out;

            &:hover{
                color: var(--hover-link-blue);
            }
        }
    }
}

@media (max-width: 650px) {
    .auth {
        .title {
            font-size: 2.2rem;
            word-spacing: 2px;
            line-height: 2.6rem;
            text-align: center;
            margin: 10px 0;
        }
    }
}