.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:  calc(100vh - var(--header-height));

    .wrapper{
        display: flex;
        flex-direction: column;
        width: 480px;
        margin-bottom: var(--header-height);
        .title {
            font-size: 2.4rem;
            word-spacing: 3px;
            letter-spacing: 1px;
            text-align: center;
            margin: 12px 0;
        }

        .buttonWrapper{
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .change{
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 4px;
            a{
                color: var(--link-blue);
                font-weight: 500;
            }
        }
    }
}