

.shops{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: var(--bottom-button);

    .wrap{
        width: var(--mainWidth);
        max-width: var(--mainMaxWidth);

        .map{
            height: 600px;
        }

        >h1{
            margin:  40px 0;
        }

        .loader{
            width: 70%;
            height: 260px;
        }
    }
}