.change{


    .imgTitle{
        margin-top: 40px;
    }

    .image{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        overflow: auto;

        >p{
            margin: 0;
            margin-top: 20px;
        }

        .add{
            margin-top: 6px;
        }
    }
}