


.whereToPlaceAnOrder{
    margin-top: 20px;

    .text{

        .link{
            color: var(--link-blue);
            transition: all var(--time) ease-in-out;

            &:hover{
                color: var(--hover-link-blue);
            }
        }
    }
}