.carousel{
    display: flex;
    justify-content: center;
    width: 100%;
    aspect-ratio: 16/5;
    overflow: hidden;
    position: relative;

    img{
        position: relative;
        width: 100vw;
        object-fit: cover;     
    }

    img.imageDesctop{
        display: block;
        aspect-ratio: 16/5;
    }

    img.imageMobile{
        display: none;                          
        aspect-ratio: 9/16;
    }

    ul.list{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;

        li.item{
            position: absolute;
            z-index: 9;
            opacity: 0;
            transition: opacity .5s ease-in-out;
            height: 100%;
            width: 100%;
            &.active{
                opacity: 1;
                z-index: 19;
            }
        }
    }
    
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 99;
        margin: 0 12px;
        outline: none;
        border: none;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        cursor: pointer;
        
        &.left{
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        &.right{
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        >svg{
            stroke: var(--gray);
            transition: all .15s ease-in-out;
        }

        &:hover{
            >svg{
                stroke: var(--black);
            }
        }
    }

}

.pagination{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 650px) {
  
    .carousel {
        aspect-ratio: unset; /* Убрано фиксированное соотношение */
        justify-content: flex-start;
        overflow: hidden; /* Изменено с auto на hidden */
        width: 100%;
        aspect-ratio: 9/16;

        // img {
        //     position: relative;
        //     height: 40vh;
        //     width: auto;
        //     min-width: calc(100vw + 6vh);
        //     left: -6vh;
        //     aspect-ratio: 3/1; /* Примерное соотношение для мобильных */
        //     object-fit: cover;
        //     object-position: left center;
        // }

        img.imageDesctop{
            display: none;                           
        }
        
        img.imageMobile{
            display: block;
        }

    }
}