

.selectedShowShops{
    display: flex;
    list-style: none;
    overflow: hidden;
    padding: 0;
    gap: 30px;

    li{
        font-size: 1.8rem;
        font-weight: 500;
        color: var(--gray);
        cursor: pointer;
        transition: all .15s ease-in-out;

        &.active{
            color: var(--black);
        }

        &:hover{
            color: var(--dark-gray);
        }
    }
}