.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height:  calc(100vh - var(--header-height));

    .wrap{
        display: flex;
        gap: 24px;
        align-items: center;
        width: 100%;

        flex-direction: column;
        justify-content: center;
        
        // margin-bottom: var(--header-height);
        
        .or{
            font-size: 1.3rem;
            font-weight: 500;
        }
    }
}