


.deliveryAndPayment{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: var(--bottom-button);
    
    .wrap{
        width: var(--mainWidth);
        max-width: var(--mainMaxWidth);
        height: 100%;

        >h1{
            margin: 40px 0 0px 0;
        }

        >h2{
            margin: 40px 0;
        }
        
        .deliveryArea{
            margin-top: -20px;
        }
    }

}