
.images{
    overflow: auto;
    width: 100%;
    >h2{
        margin: 40px 0 20px 0 !important; 
    }

    .listBox{

        display: flex;
        align-items: center;

        .list{
            width: 90%;
        }
    
        .addImg{
            margin-left: 6px;
        }
    }
}

@media (max-width: 650px) {
    .images{
        .listBox{
            flex-direction: column;
            .list{
                width: 100%;
            }
        
            .addImg{
                margin-top: 30px;
                margin-left: 0;
            }
        }
    }
}