

.wrap{

    --widthSidebar: 240px;
    height: 100%;

    .title{
        display: flex;
        align-items: center;
        height: 40px;
        width: 100%;

        .loader{
            height: 90%;
            width: 20%;
        }
        >h1{
            margin: 0;
        }
    }

    .content{
        margin-top: 20px;
        display: flex;
        width: 100%;
        overflow: auto;
        gap: 30px;

        .titleFilter{
            display: none;
        }

        .sidebar{
            margin-top: 0px;
            .filters{
                width: var(--widthSidebar);
            }
        }
        
        .main{
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0 10px;
            overflow: auto;
        }
    }
}  
   

@media (max-width: 650px) {
    .wrap{    
        .content{
            flex-direction: column;
            gap: 0px;

            .titleFilter{
                display: block;
                cursor: pointer;
            }

            .sidebar{   
                width: 100%;
                
                .filters{
                    position: absolute;
                    width: 100%;
                    left: 0;
                    box-sizing: border-box;
                    background-color: white;
                    padding: 0 2vw 40px 2vw;
                    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
                    z-index: -9;
                    overflow: auto;
                    opacity: 0;
                    
                    .filterWrap{
                        overflow: auto;
                        height: calc(55vh);
                    }

                    &.open{
                        opacity: 1;
                        z-index: 9;
                    }
                }
            }

            .main{
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 0;
                overflow: auto;
            }
        }
    }

}

