


.purchaseLayout{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: var(--bg-gray);
    padding-bottom: 60px;
    
    .wrap{
        padding-top: 20px;
        display: flex;
        gap: 40px;
        width: var(--mainWidth);
        max-width: var(--mainMaxWidth);
        height: 100%;

        .content{
            position: relative;
            width: 100%;
            h1{
                margin: 40px 0;
            }
        }

        .sidebar{
            margin-top: 40px;
            width: 360px;
        }

    }

}