

.other {
    .title{
        display: flex;
        align-items: center;
        h1{
            margin: 0;
        }
    
        .icon{
            margin-left: 4px;
            width: 24px;
        }

    }
}