


.category{
    display: flex;
    flex-direction: column;
    align-items: center;

    .wrapper{
        width: var(--mainWidth);
        max-width: var(--mainMaxWidth);


        .content{
            min-height: 100vh;
        }
    }


}