


.comeBack{
    position: absolute;
    top: -16px;
}

.purchaseStep2{
    .wrap{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        width: 100%;

        .content{
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            width: 66%;
            gap: 30px;
        }

        .sidebar{
            box-sizing: border-box;

            width: 26%;
        }
    }
    
}


@media (max-width: 950px) {
    .purchaseStep2{
        .wrap{
            .content{
                width: 100%;
                gap: 30px;
            }

            .sidebar{
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
            }
        }
    }
}