


.nav{
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    
    .loader{
        width: 60%;
        height: 60%;
    }
    
    ul{
        display: flex;
        gap: 40px;
        padding: 10px 0;
        align-items: center;
        list-style: none;
        width: 100%;
        position: relative;
        overflow: auto;
        
        li{
            display: flex;
            justify-content: center;
            

            >a{
                position: absolute;
                z-index: 1;
                color: var(--black);
                box-sizing: border-box;
                transition: all .15s ease-in-out;

                &.selected{
                    font-weight: 600;
                }
                
                &:hover{
                    font-weight: 600;
                }
            }
            
            >span{
                opacity: 0;
                display: block;
                font-weight: 600;
            }
        }
    }
}