



ul.list{

    margin: 0;
    padding: 0;
    list-style: none;

    li.item{
        display: flex;
        align-items: center;
        margin: 8px 0;

        >img{
            width: 16px;
        }
    }
}