

.change{


    .imgTitle{
        margin-top: 40px;
    }

    .image{
        display: flex;
        width: 100%;
        align-items: center;
        .add{
            margin-left: 4px;
        }
    }
}