


.shopProducts{

    >h3{
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 0;

        >img{
            display: none;
            margin-right: 4px;
            width: 20px;
        }
    }
    .address{
        font-size: 1.3rem;
        margin: 8px 0;
    }

    .openingHours{
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        margin: 0;
        color: var(--gray);

        >svg{
            stroke: var(--gray);
            width: 18px;
            height: 18px;
            margin-right: 6px;
        }
    }
}