

.bg{
    position: relative;
    z-index: 9;
    display: flex;
    justify-content: center;
    background-color: var(--light-blue);
    width: 100%;
    height: var(--header-height);
    
    .wrapper{
        width: var(--mainWidth);
        max-width: var(--mainMaxWidth);
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        --sizeIcon: 20px;


        .information{
            display: flex;
            justify-content: space-between;
            width: 360px;
            padding-right: 8px;
        }

        .sidebar{
            display: none;
            --time: .4s;
        }
    }
}

@media (max-width: 650px) {
    .bg{
        position: fixed;
        z-index: 109;
        .wrapper{
    
            .information{
                display: none;
            }

            .sidebar{
                display: block;
                position: relative;
                width: 32px;
                height: 32px;

                .user{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;

                    .features{
                        display: flex;
                        width: 70px;
                        justify-content: space-between;
                    }
                }
            }
        }

    }
}