

.adminBoard{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    .sidebar{
        width: 20%;
        height: 100%;

        &.none{
            display: none;
        }
    }

    .content{
        box-sizing: border-box;
        width: 79%;
        height: 100%;
        background-color: white;
        border-radius: var(--border-radius-box);
        padding: var(--padding-box);
        box-sizing: border-box;

        &.full{
            background-color: transparent;
            padding: 0;
            width: 100%;
        }
    }
}

@media (max-width: 950px) {
    .adminBoard{
        flex-direction: column;

        .content{
            width: 100%;
        }
    }
}

@media (max-width: 650px) {
    .adminBoard{
        .content{
            padding: 60px 20px;
        }
    }
}