

.nav{
    margin: var(--margin-top-box) 0;
    overflow: auto;

    ul{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 10px 0;
        list-style: none;
        width: 100%;
        gap: 20px;

        li{
            position: relative;
            margin-right: 24px;

            a{
                font-size: 2.2rem;
                font-weight: 500;
                color: var(--gray);
                transition: color .15s ease-out;

                &.selected{
                    color: var(--black);
                }
                &:hover{
                    color: var(--hover-black);
                }
            }

            .numbItems{
                position: absolute;
                top: -10px;
                right: -2px;
            }
        }
    }
}

@media (max-width: 650px) {
    .nav{
        ul{
            li{
                a{
                    font-size: 2rem;
                }
            }
        }
    }
}