


.box{
    display: flex;
    margin-top: 20px;
    width: 300px;
    max-width: 100%;

    .image{
        height: 36px;

        >img{
            height: 100%;
        }
    }
    
    .text{
        margin-left: 12px;

        .title{
            font-size: 1.6rem;
            font-weight: 500;
        }

        .sign{
            font-size: 1.4rem;
            font-weight: 400;
            margin-top: 8px;
        }
    }
}